<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soloproject1.favorite.mapper.FavoriteMapper">
	<insert id="insertFavorite" parameterType="map">
		INSERT INTO `favorite`
		(
			`contentId`
			, `userId`
			, `createdAt`
		)
		VALUES
		(
			#{contentId}
			, #{userId}
			, NOW()
		)
	</insert>
	
	<select id="selectFavoriteByContentIdUserId" parameterType="map" resultType="com.soloproject1.favorite.domain.Favorite">
		SELECT
			`contentId`
			, `userId`
			, `createdAt`
		FROM
			`favorite`
		WHERE
			`contentId` = #{contentId}
			AND `userId` = #{userId}
	</select>
	
	<delete id="deleteFavoriteByContentIdUserId" parameterType="map">
		DELETE FROM
			`favorite`
		WHERE
			`contentId` = #{contentId}
			AND `userId` = #{userId}
	</delete>
	
	<select id="selectFavoriteListByUserId" parameterType="int" resultType="com.soloproject1.favorite.domain.Favorite">
		SELECT
			`contentId`
			, `userId`
			, `createdAt`
		FROM
			`favorite`
		WHERE
			`userId` = #{userId}
	</select>
</mapper>